# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Keys
*.pem

# Docker
*.log

# Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# pytest
.pytest_cache/